{% include "./src/header.html" %}
<p>The main nunjucks file content in the index.njk page with CSS as well.</p>
<p>A variable added at build time from index.js: {{ testVar }}</p>
{% include "./src/footer.html" %}